/* Navbar.css */

.navbar {
  display: flex;
  justify-content: center;
  color: #000000;
  position: sticky;
  top: 38px;
  padding: 24px 100px 24px 100px;
  background: #ffffff;
}

.nav-links {
  list-style: none;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0px;
  padding: 13px 0px 13px 0px;

  & .shop-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
}

.menu-bar {
  display: none;
  cursor: pointer;
}
.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.nav-list {
  display: flex;
  gap: 24px;
}
.search-container {
  position: relative;
  width: 30%;
}
.search {
  padding: 0px;
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 62px;
  border: 1px solid #f0f0f0;
  color: #00000066;
  background-color: #f0f0f0;
  padding: 12px 16px 12px 45px;
  gap: 12px;
}

.search:focus {
  outline: none;
  border: 1px solid lightgrey;
}

.search-icon {
  position: absolute;
  color: #00000066;
  top: 30%;
  left: 10px;
}

.input {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.right-icons {
  display: flex;
  gap: 24px;
}
.cart-icon {
  position: relative;
}
.totalItems {
  height: 25px;
  width: 25px;
  color: #ffffff;
  background-color: #ff3333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 6px;
}
.search-container-mobile-view{
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 24px 50px 24px 50px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .navbar {
    padding: 24px 50px 24px 50px;
  }
  .search-container {
    margin-right: 30px;
  }

  .right-icons {
    gap: 10px;
  }

  .nav-links {
    gap: 20px;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .navbar {
    padding: 25px 16px;
  }

  .nav-links {
    padding: 0px;
    gap: 16px;
    justify-content: unset;
    & .shop-name {
      font-size: 25px;
      line-height: 10px;
    }
  }
  .menu-bar {
    display: block;
    padding: 0px;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
  .nav-list {
    display: none;
  }

  .search-container-mobile-view {
    width: 30%;
    margin-left: 115px;
    display: block;
  }
  .search-container {
    display: none;
  }
  .mobile-search-container{
    position:absolute;
    width: 57%;
    left: 50px;
  }
  .mobile-view-search{
    padding: 0px;
    height: 15px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 62px;
    border: 1px solid #f0f0f0;
    color: #00000066;
    background-color: #f0f0f0;
    padding: 5px 10px 5px 30px;
    gap: 12px;
  }
  .mobile-view-search:focus{
    outline: none;
    border: 1px solid lightgrey;
  }
  .search-icon-mobile-view {
    color: #00000066;
    top: 20%;
    left: 10px;
    cursor: pointer;
  }
  .input-search-icon{
    position: absolute;
    color: #00000066;
    top: 24%;
    left: 10px;
  }
  .right-icons {
    gap: 15px;
  }
}
