.cart-main-container {
  margin: 0px 100px 80px 100px;
}
.divider {
  border: 1px solid #0000001a;
  color: #0000001a;
  position: sticky;
  top: 160px;
}
.main-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.cart-detail-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
}
.cart-container {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
}

.cart-item-container {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border: 1px solid #0000001a;
  border-radius: 20px;
}
.cart-items {
  display: flex;
  gap: 16px;
}
.cart-items-image-container {
  height: 124px;
  width: 124px;
}
.cart-items-image {
  height: 80%;
  width: 80%;
}
.cart-items-text-container {
  display: flex;
  justify-content: space-between;
  width: 527px;
}
.cart-items-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 0px;
}
.remove-all {
  color: #ff3333;
}
.items-rating-category {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 5px;
}
.span {
  color: #00000099;
  margin-left: 5px;
}
.items-price-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.items-devider {
  border: 1px solid #0000001a;
  border-color: #0000001a;
  margin-bottom: 16px;
}
.order-summary-container {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 33px 24px;
  gap: 24px;
  border: 1px solid #0000001a;
  border-radius: 20px;
}
.order-summary {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.order-details {
  display: flex;
  justify-content: space-between;
}
.price-details {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #00000099;
  margin-bottom: 20px;
}
.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.discount {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #ff3333;
}

.total {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}
.total-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.devider {
  border: 1px solid #0000001a;
  border-color: #0000001a;
  margin: 0px 0px 20px 0px;
}

.cart-checkout-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  background-color: #000000;
  height: 60px;
  width: 400px;
  border-radius: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 170px;
}
.empty-cart-text {
  font-size: 20px;
  font-weight: 600;
}
.empty-cart-image {
  height: 500px;
  width: 600px;
}
.shop-now-button {
  height: 44px;
  width: 126px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500px;
  background-color: #063af5;
  color: #ffffff;
}

@media (min-width: 426px) and (max-width: 1024px) {
  .cart-main-container {
    margin: 0px 20px 80px 20px;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
  }
  .cart-checkout-button-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .cart-main-container {
    margin: 0px 15px 90px 15px;
  }
  .main-container {
    flex-direction: column;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .cart-detail-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .cart-item-container {
    padding: 14px;
  }
  .cart-items-text-container {
    width: 245px;
  }
  .cart-items-image-container {
    height: 85px;
    width: 85px;
  }
  .cart-items-text {
    font-size: 16px;
    line-height: 20px;
  }
  .order-summary-container {
    gap: 16px;
  }
  .price-details {
    margin-bottom: 15px;
    gap: 10px;
  }
  .items-price,
  .total-price,
  .order-summary {
    font-size: 20px;
  }
  .price-details,
  .price,
  .discount,
  .total {
    font-size: 16px;
  }
  .cart-checkout-button {
    width: 330px;
    height: 40px;
  }

  .empty-cart-image {
    height: 260px;
    width: 300px;
  }
  .shop-now-button {
    height: 30px;
    width: 100px;
    font-size: 12px;
  }
}
