.items-add-remove-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 62px;
  width: 86px;
  height: 20px;
  padding: 12px 20px;
}
@media (min-width: 321px) and (max-width: 425px) {
  .items-add-remove-button {
    width: 75px;
    height: 15px;
  }
}
