.products-main-container {
  margin: 0px 100px 90px 100px;
}

.divider {
  border: 1px solid #0000001a;
  color: #0000001a;
  position: sticky;
  top: 160px;
  margin: 0px;
}

.products-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.image-containers {
  height: 530px;
  width: 444px;
}
.product-images {
  height: 90%;
  width: 90%;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}
.product-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.products-price {
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
}
.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-add-remove-button {
  height: 21px;
  width: 130px;
  padding: 16px 20px 16px 20px;
  background-color: #f0f0f0;
  border-radius: 62px;
  display: flex;
  justify-content: space-between;
}

.cart-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  background-color: #000000;
  height: 52px;
  width: 400px;
  padding: 16px 54px 16px 54px;
  border-radius: 62px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .products-main-container {
    margin: 0px 30px 90px 30px;
  }
  .product-images {
    height: auto;
    width: 90%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .products-main-container {
    margin: 0px 50px 140px 50px;
  }
  .products-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .products-main-container {
    margin: 0px 15px 200px 15px;
  }
  .products-container {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .divider {
    margin: 0px;
    top: 117px;
  }
  .image-containers {
    height: 330px;
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .product-images {
    height: 80%;
    width: 80%;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }
  .products-price {
    font-size: 24px;
  }
  .cart-add-remove-button {
    height: 40px;
    padding: 0px;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-button {
    width: 225px;
    height: 45px;
    padding: 0px;
  }
}
